<launch>
  <node name="thrust" pkg="thrust" type="thrust.py"></node>
  <node name="sensors" pkg="sensors" type="sensors.py"></node>
  <node name="grip" pkg="grip" type="grip.py"></node>
  
<!--
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="10.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="false"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="true"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node>
-->
 
  <node name="cam_claw" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/v4l/by-id/usb-046d_HD_Webcam_C615_289FC060-video-index0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="cam_claw" />
    <param name="io_method" value="mmap"/>
    <param name="camera_name" value="cam_claw" />
  </node>


  <node name="cam_down" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/v4l/by-id/usb-046d_HD_Webcam_C615_D683C060-video-index0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="cam_down" />
    <param name="io_method" value="mmap"/>
    <param name="camera_name" value="cam_down" />
  </node>


</launch>
