<launch>
  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" args = "--perspective-file $(find thrust)/../../misc/shore.perspective"/>
  <node pkg="joy" type="joy_node" name="joy_node" output="screen"></node>
  <node name="control" pkg="control" type="controller.py"></node>
  
  <param name="robot_description" textfile="$(find thrust)/meshes/rov/model.sdf" />
  
</launch>
